@font-face {
    font-family: 'Arial'; 
    src: url('../fonts/ArialMT.woff') format('woff'); 
}


@font-face {
    font-family: 'ArialBoldMT'; 
    src: url('../fonts/Arial-BoldMT.woff') format('woff'); 
}


@font-face {
    font-family: 'ArialNarrow'; 
    src: url('../fonts/ArialNarrow.woff') format('woff'); 
}


@font-face {
    font-family: 'EBGaramondM'; 
    src: url('../fonts/EBGaramond-Medium.woff') format('woff'); 
}


@font-face {
    font-family: 'EBGaramondR'; 
    src: url('../fonts/EBGaramond-Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayBlack'; 
    src: url('../fonts/Raleway-Black.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayBold'; 
    src: url('../fonts/Raleway-Bold.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayEB'; 
    src: url('../fonts/Raleway-ExtraBold.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayEL'; 
    src: url('../fonts/Raleway-ExtraLight.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayL'; 
    src: url('../fonts/Raleway-Light.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayM'; 
    src: url('../fonts/Raleway-Medium.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewayR'; 
    src: url('../fonts/Raleway-Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'RalewaySB'; 
    src: url('../fonts/Raleway-SemiBold.woff') format('woff'); 
}




@font-face {
    font-family: 'InterB'; 
    src: url('../fonts/Inter-Bold.woff') format('woff'); 
}

@font-face {
    font-family: 'InterSB'; 
    src: url('../fonts/Inter-SemiBold.woff') format('woff'); 
}

@font-face {
    font-family: 'InterR'; 
    src: url('../fonts/Inter-Regular.woff') format('woff'); 
}






/* Зкидання базових стилів */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}

ul[class],
ol[class] {
  list-style: none;
}


img {
    object-fit: cover;
}


[class*='_container'] {
    width: 1260px;
    margin-left: calc((100% - 1260px)/2);
    
}



/* header */
header {
    width: 100%;
    height: 100px;
    background-color: #2D2727;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header_container, .left_cont, .menu_cont, .login_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}

.logo {
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    
}

.logo > a {
    text-decoration: none;
    color: #fff;
}

.menu_cont {
    margin-left: 110px !important;
    gap: 50px;
}
.login_cont {
    gap: 50px;
}

.header_a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Arial';
    letter-spacing: 1px;
    transition: 0.2s ease-in;


}



.ative_a {
    border-bottom: 1px solid #fff;
    width: 100%;
    transition: 0.2s ease-in;

}

.header_a:hover {
    color: #616161;
}
.ative_a:hover {
    border-bottom: 1px solid #616161;

    
}



/* main */


main {
    flex: 1;
    background-color: #2D2727;
}



/* footer */

footer {
    width: 100%;
 
    background-color: #363636;

}

.logo_block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo_block > p {
    color: #525252;
    font-size: 30px;
    font-family: 'RalewayBold';
}

.logo_block >img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.block_f {
    width: 25%;
}

.list_block > h2, .social_networts >h2 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'RalewayEB'; 

}

.list_block > ul {
    padding: 0;
}

.list_block > ul > li {
    margin-bottom: 10px;
    color: #525252;
    list-style: none;
    font-family: 'RalewayM'; 

}
.block_img_social > a {
    margin-right: 10px;
    cursor: pointer;
}

.block_img_social > a> img {
    height: 25px;
    width: 25px;

}

.list_block > ul > li > a {
    text-decoration: none;
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'RalewayM'; 
    cursor: pointer;
    transition: 0.2s ease-in;

}


.list_block > ul > li > a:hover {
    color: #fff;
}


